@mixin flex($direction, $justifyContent, $align-items) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justifyContent;
	align-items: $align-items;
}

@mixin text($color, $size, $style, $weight, $spacing, $lineHeight, $textAlign) {
	color: $color;
	font-family: $Spartan;
	font-size: $size;
	font-style: $style;
	font-weight: $weight;
	letter-spacing: $spacing;
	line-height: $lineHeight;
	text-align: $textAlign;
}

@mixin screen($size, $pixels: $breakpoint-small) {
	@if $size == "small" {
		@media screen and (max-width: $breakpoint-small) {
			@content;
		}
	} @else if $size == "med" {
		@media screen and (max-width: $breakpoint-med) {
			@content;
		}
	}
}
