@import "../../mixins";
@import "../../palette.scss";

.todoListItem__container {
  @include flex(column, center, flex-start);
  background-color: $very-dark-desaturated-blue;
  height: 64px;
  width: 540px;
  padding: 20px 312px 20px 24px;

  .todoListItem__input {
    @include flex(row, flex-start, center);
    height: 24px;
    width: 492px;

    input {
      @include text($light-input-color, 18px, normal, 400, -0.25px, 18px, left, none);
      background-color: inherit;
      border: none;
    }
  }
}